<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <%= "#{@user.first_name} #{@user.last_name}" %>
</p>

<p>
  <%= image_tag @user.avatar.url %>
</p>


<% if session[:user_id] == @user.id %>
<%= link_to 'Edit Profile', edit_user_path(@user) %>
<% end %>
